{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">{% block header %}Posts{% endblock %}</h1>
<div class="Posts">
    {% for post in posts %}
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
                <div>
                    
                        {% set ns = namespace(found=false) %}
                        {% for like in post.like %}
                            {% if user.id == like.author %}
                                {% set ns.found = true %}
                            {% endif %}
                        {% endfor %}
                        <i 
                        class="{% if ns.found %} fa-solid fa-thumbs-up {% else %} fa-regular fa-thumbs-up{% endif %}" 
                        id="like-button-{{post.id}}" 
                        onclick="like({{post.id}})" style="color:blue">
                        </i>
                        <span id="like-count-{{post.id}}">{{post.like|length}}</span>
                    {% if user.id == post.user.id %}
                        <div class="btn-group">
                            <a href="/delete-post/{{post.id}}" style="color:red"><i class="fa-regular fa-trash-can"></i></a>
                        </div>
                    {% endif %}
                </div>   
            </div>
            <div class="card-body">    
                <div calss="card-text">{{ post.text }}</div>
                </br>
                <div class="collapse" id="comment-{{post.id}}">
                    <div class="card">
                        <div class="card-body" id="comment-expanded-{{post.id}}">
                            {% for comment in post.comment%}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <a href="/posts/{{comment.user.username}}">{{comment.user.username}} </a>: 
                                        {{comment.text}}
                                    </div>
                                    <div>
                                        <small class="muted">{{comment.date_created}}</small>
                                        {% if user.id == post.author or user.id == comment.author %}
                                            <div class="btn-group">
                                                <a href="/delete-comment/{{comment.id}}" style="color:red"><i class="fa-regular fa-trash-can"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>    
                <p class="card-text">
                    {% if post.comment|length > 0 %}
                        <a data-bs-toggle="collapse" href="#comment-{{post.id}}" role="button">
                            <small>View all the {{post.comment|length}} comments </small>
                        </a>
                    {% else %}
                        <small class="muted"> No comments </small>
                    {% endif %}
                </p>

                <form method="POST", class="input-group mb-3", action="/create-comment/{{post.id}}">
                    <input type="text", id="text", name="text", class="form-control", placeholder="Comment Something"/>
                    <button type="submit" class="btn btn-primary">Comment</button> 
                </form>

            </div>
            <div class="card-footer text-muted">{{post.date_created}}</div>
        </div> 
    </br>   
    {% endfor %}
</div>
{% block footer %}
    <div >
        <a href="/create-post"><button type="button" class="btn btn-lg btn-primary">Create Post</button></a>
    </div>
{% endblock %}{% endblock %}